h2 {
  margin: 0 auto;
  text-align: center;
  background-color: pink;
}
.user {
  background-color: yellow;
}
body {
  font-family: sans-serif;
  margin: 30px;
}
textarea {
  width: 100%;
  height: 60px;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}
.post {
  background-color: lightgreen;
}
.reply {
  border-left: 2px solid #ccc;
  width: 50%;
  background-color: lightblue;
}
